---
import O from "../../assets/O.svg";
import U from "../../assets/u.svg";
import T from "../../assets/t.svg";
import F from "../../assets/f.svg";
---

<footer
  class="bg-black pt-40 pb-8 text-body-rem text-white dark:bg-accent dark:text-black"
>
  <div class="px-3 pb-3 md:px-5 xl:hidden">
    <div>
      Piazza della Repubblica <br />
      8 20121 Milano (MI) <br />
      P.IVA 10469510969
    </div>
    <div class="mt-6 flex items-end justify-between">
      <div>
        Email <br />
        Telefono <br />
      </div>
      <div>
        LinkedIn <br /> Newsletter
      </div>
      <div>© 2025 Out Of</div>
    </div>
  </div>
  <div class="flex items-end justify-center gap-[1%]">
    <div class="relative w-[22.78%]">
      <O />
      <div
        class="absolute top-0 right-0 hidden w-max translate-x-full items-end xl:flex"
      >
        <div class="whitespace-nowrap">
          Piazza della Repubblica <br />
          8 20121 Milano (MI) <br />
          P.IVA 10469510969
        </div>
        <div class="pl-[2vw]">
          Email <br />
          Telefono <br />
        </div>
        <div class="pl-[12vw]">LinkedIn <br /> Newsletter</div>
      </div>
    </div>
    <div class="w-[20.28%]">
      <U />
    </div>
    <div class="w-[11.11%]">
      <T />
    </div>
    <div class="w-[22.78%]">
      <O />
    </div>
    <div class="relative w-[14.17%]">
      <F />
      <span
        class="absolute bottom-0 -left-[6%] hidden -translate-x-full xl:inline-block"
        >© 2025 Out Of</span
      >
    </div>
  </div>
</footer>
