---
import Mask from "../global/mask.astro";
---

<div
  class="relative flex h-hero items-center justify-center bg-black p-3 text-white md:p-5 dark:bg-accent dark:text-black"
>
  <p class="max-w-174 text-center">
    Con un approccio strategico e consapevole, uniamo storytelling e storydoing
    per aiutare chi vuole uscire dagli schemi e generare un impatto reale.
  </p>
  <Mask />
</div>
