---

---

<div
  class="max-w-116 rounded-3xl bg-white/20 px-6 py-7 text-white backdrop-blur-[6px] dark:text-black"
>
  <h3 class="font-serif text-title-sm">Subscribe for weekly inspiration</h3>
  <div data-animation="by-line" class="my-7">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, iure?
  </div>
  <form action="#" class="relative flex text-black">
    <input
      placeholder="EMAIL"
      type="text"
      class="w-full rounded-l-full bg-white py-3 pl-5 text-body-rem placeholder:text-body-rem placeholder:font-semibold placeholder:text-black dark:bg-black dark:text-accent dark:placeholder:text-accent"
    />
    <button
      class="flex flex-none items-center rounded-r-full bg-white py-3 pr-4 pl-3 dark:bg-black dark:text-accent"
    >
      &rarr;
    </button>
  </form>
</div>
